h1 {
    text-align: center;
}
body {
    direction: rtl;
    background-color:brown;
}
  td, th {
    border: 3px solid #535353;
    text-align: left;
    padding: 8px;
  }
  td {
    font-size: 20px;
  }

img{
    height: 200px;
    width: 200px;
}
#pagetop{
    display: block;
    text-align: center;
    font-size: 25px;
}